# Ignore thumbnails created by windows
Thumbs.db

# Ignore files built by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
ogre.cfg
*.idb
BuildLog.htm

# Ignore cmake output
build/

# Ignore temporary files
*~

.kdev4

*.orig
dist/
objects/
*.zip
